@keyframes blob {
  0%,
  100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -40px) scale(1.1);
  }
  66% {
    transform: translate(-40px, 30px) scale(0.9);
  }
}

.animate-blob {
  animation-name: blob;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
